.email-f{
	text-align: center;
	&_title{
		display: inline-block;
		position: relative;
		margin: 0px 0px 11px 0px;
		padding: 0px 0px 0px 15px;
		@include before{
			display: block;
			width: 18px;
			height: 12px;
			position: absolute;
			top: 2px;
			left: -13px;
			background: url('../image/email.png') no-repeat;
		}
	}
	&_link{
		a{
			@include link(#363636, #363636);
			text-decoration: none;
		}
	}
}