.itabs{
	min-height: 770px;
	padding: 36px 0px 20px 0px;
	&_title{
		font-size: 18px;
		color: #424141;
		margin-bottom: 18px;
	}
	&_tabs{
		//margin: 0px -28px;
		/*overflow: hidden;
		text-align: justify;
		line-height: 0;
    font-size: 1px;*/
    @include old-ie{
    	/**text-justify: newspaper;
      *zoom:1;*/
    }
		/*text-align-last: justify;*/
		/*&:after{
			width: 100%;
      height: 0px;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
		}*/
	}
	&_tab{
    display: inline-block;
    width: 20%;
    text-align: center;
    //border: 1px solid #000;
    line-height: normal;
    font-size: 14px;
    vertical-align: bottom;
    /*@include old-ie{
    	*display : inline;
    	*zoom : 1;
    }*/
    &:hover{
    	cursor: pointer;
    }
	}
	&_name{
		margin-top: 8px;
		background-color: #42bfc2;
		color: #424141;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		.itabs_tab:first-child &{
			//margin-left: 28px;
			@include def-border-radiuses(0px, 0px, 2px, 2px);
		}
		.itabs_tab:last-child &{
			//margin-right: 28px;
			@include def-border-radiuses(2px, 2px, 0px, 0px);
		}
		.itabs_tab.active &{ color: #737373; }
		.itabs_tab:hover &{ color: #737373; }
	}
}