.main1{
	height: 684px;
	width: 100%;
	&_item1{
		height: 684px;
	  width: 100%;
	  background: url("../image/full-image-header1.jpg") 50% 50% no-repeat;
	  background-size: cover;
	}
	&_item2{
		height: 684px;
	  width: 100%;
	  background: url("../image/full-image-header2.jpg") 50% 50% no-repeat;
	  background-size: cover;
	}
	&_item3{
		height: 684px;
	  width: 100%;
	  background: url("../image/full-image-header3.jpg") 50% 50% no-repeat;
	  background-size: cover;
	}
}