.phones{
	float: right;
	margin: 8px 0px 8px 45px;
	@include clearfix();
	p{
		float: left;
		font-size: 12px;
		color: #ffffff;
		margin: 0px 0px 0px 14px;
		&:first-child{
			margin: 0px;
		}
	}
	position: relative;
	@include before{
		display: block;
		width: 10px;
		height: 13px;
		position: absolute;
		top: -1px;
		left: -18px;
		background: url('../image/header-icons.png') -10px 0px no-repeat;
	}
}