.price{
	&_title{
		text-align: center;
		font-size: 16px;
		color: #000000;
		margin: 12px 0px 14px 0px;
	}
	&_item{
		@include clearfix;
	}
	&_left{
		padding-left: 7px;
		margin-right: 10px;
		font-size: 16px;
		line-height: 31.6px;
		color: #000000;
		float: left;
		width: 48.5%;
		margin-right: 14px;
		.price_item:nth-child(even) &{
			background-color: #fafafa;
		}
	}
	&_right{
		text-align: center;
		font-size: 18px;
		line-height: 31.6px;
		color: #000000;
		overflow: hidden;
		.price_item:nth-child(even) &{
			background-color: #fafafa;
		}
	}
}
