$font: proximanova;
$width: 1000px;
@import "mymix";
@import "fonts";
//**********************************************************/
//**********************************************************/
.myinner{
  width: $width;
  margin: 0 auto;
  padding: 0px 12px;
  @include clearfix();
}
body{
  font-family: arial;
  color: #363636;
  min-width: 1024px;
}
textarea{
  resize: none;
  box-shadow: none;
  @include def-border-radius(0px);
}
input{
  box-shadow: none;
  @include def-border-radius(0px);
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
  @include def-border-radius(0px);
}
strong, b{
  font-weight: bold;
}
i{

}
a{
  &:focus{
    outline: none;
  }
}
pre{
  white-space: normal;
}
h1, h2, h3, h4, h5, h6{
  
}
input::-moz-placeholder {

}
textarea::-moz-placeholder {

}
input::-webkit-input-placeholder{

}
textarea::-webkit-input-placeholder{

}
input{
  &:focus{
    outline: none;
  }
}
textarea{
  &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
.delay-01s{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  animation-delay: .1s;
}
.delay-02s{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}
.delay-03s{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}
.delay-04s{
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
}
.delay-05s{
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.delay-06s{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}
.delay-07s{
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.delay-08s{
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
.delay-09s{
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}
.delay-1s{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-11s{
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.delay-12s{
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay-13s{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.delay-14s{
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.delay-15s{
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay-16s{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.delay-17s{
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.delay-18s{
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.delay-19s{
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.delay-2s{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.hidded{
  visibility: hidden;
}
.fadeIn, .fadeInUp, .fadeOut, .fadeOutUp, .flipInX, .flipOutX, .flipInY, .flipOutY, .zoomIn, .zoomOut, .slideInLeft, .rollIn, .rollOut, .bounce, .pulse, .tada, .bounceInDown, .rotateIn, .rotateOut, .fadeInLeft, .fadeOutLeft, .fadeInRight, .fadeOutRight{
  visibility: visible;
}
//**********************************************************/
//**********************************************************/
@import "header";
@import "phones";
@import "address";
@import "social";
@import "menu-apple";
@import "menu-top";
@import "logo";
@import "main1";
@import "social-f";
@import "footer";
@import "address-f";
@import "phones-f";
@import "email-f";
@import "menu-bottom";

@import "main2";
@import "main3";
@import "main4";
@import "how";
@import "why";

@import "myslider";

@import "main6";
@import "actions";

@import "main7";
@import "news";

@import "main8";
@import "mymap";

@import "form-imei";
@import "itabs";
@import "itabs2";
@import "price";